<section class="detailProduct">
    <h1>Detalle del producto</h1>
    <div class="data">
        <p><span>Title:</span> {{product.title}}</p>
        <p><span>Description:</span> {{product.description}}</p>
        <p><span>Price:</span> ${{product.price}}</p>
        <p><span>Code:</span> {{product.code}}</p>
        <p><span>Category:</span> {{product.category}}</p>
        <p><span>Id:</span> {{product.id}}</p>
    </div>
    <button>Añadir al carrito</button>
    <a href="http://localhost:8080" class="volver">Volver</a>
</section>