<section class="bienvenida">
    <h1>Bienvenido {{user.first_name}} {{user.last_name}}!!</h1>
    <p>Tu rol: {{rol}}</p>
    <a href="http://localhost:8080/api/sessions/logout" class="btn-logout">Desloguear</a>
</section>

<section class="products">
    {{#if result.isValid}}

        {{#each result.docs}}
            <a class="product" href="http://localhost:8080/products/{{this._id}}">
                <p><span>Title:</span> {{this.title}}</p>
                <p><span>Price:</span> ${{this.price}}</p>
                <p><span>Category:</span> {{this.category}}</p>
            </a>
        {{/each}}

        {{else}}

        <h2>No hay productos para mostrar</h2>

    {{/if}}
</section>

<section class="arrows">
    <div>
        {{#if result.hasPrevPage}}
        <a href="{{result.prevLink}}" class="ant">Anterior</a>
        {{/if}}
    </div>
    <div>
        {{#if result.hasNextPage}}
        <a href="{{result.nextLink}}" class="sig">Siguiente</a>
        {{/if}}
    </div>
</section>




